
.main {
  background-image: url(../../recursos/img/binarygabe.jpg);
  object-fit:cover;
  background-size: 100%;
  display: flex;
  flex-direction: column;
}

.main_description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}


.h1 {
  margin: 0;
  padding: 0;
}

.datePersnal {
  background-image: url(../../recursos/img/card1.JPG);
  opacity: 0.8;
  object-fit: cover;
  width: 350px;
  margin: 20px;
  padding: 20px;
  background-size: 100%;
  color: rgb(2, 236, 14);
  border-radius: 10px;
  box-shadow: 0 0 .5rem #150281;
}
.datePersnal:hover {
  border-radius: 8px;
  transform: scale(1.1);
  box-shadow: 0 0 .8rem #39e206;
}

.tecnology {
  background-image: url(../../recursos/img/card2.JPG);
  opacity: 0.8;
  object-fit: cover;
  width: 350px;
  margin: 20px;
  padding: 20px;
  background-size: 100%;
  color: rgb(248, 250, 252);
  border-radius: 10px;
  box-shadow: 0 0 .8rem #1b01ad;
}
.tecnology:hover {
  border-radius: 8px;
  transform: scale(1.1);
  box-shadow: 0 0 .5rem #39e206;
}

.main_description-futuro {
  background-image: url(../../recursos/img/card4.JPG);
  opacity: 0.8;
  object-fit: cover;
  width: 550px;
  height: 300px;
  margin: 20px;
  padding: 20px;
  background-size: 100%;
  color: rgb(248, 250, 252);
  border-radius: 10px;
  box-shadow: 0 0 .8rem #1b01ad;
}
.main_description-futuro :hover {
  border-radius: 8px;
  transform: scale(0.8.1);
  box-shadow: 0 0 .5rem #39e206;
}

.icon {
  width: 60px;
}

.main_tecnology {
  display: flex;
  justify-content: center;
}

.main_tecnology-icon {
  display: flex;
  background-image: url(../../recursos/img/card3.JPG);
  flex-wrap: wrap;
  justify-content: space-evenly;
  opacity: 0.9;
  object-fit: cover;
  width: 550px;
  height: 300px;
  margin: 20px;
  padding: 20px;
  background-size: 100%;
  color: rgb(248, 250, 252);
  border-radius: 10px;
  box-shadow: 0 0 .8rem #1b01ad;
  flex-direction: column;
}

@media (prefers-reduced-motion: no-preference) {
  .icon {
    animation: icon-spin infinite 20s linear;
  }
}
@keyframes icon-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@media (max-width: 660px){
  .datePersnal {
    width: 90%;
    background-repeat: no-repeat;
    height: fit-content;
  }
  .tecnology {
    width: 90%;
    background-repeat: no-repeat;
    height: fit-content;
  }
  .main_description-futuro {
    width: 90%;
    height: fit-content;
  }
  .main_tecnology-icon{
    width: 90%;
  }
}
@media (max-width: 280px){
  .datePersnal {
    width: 70%;
    background-repeat: repeat;
    height: fit-content;
  }
  .tecnology {
    width: 70%;
    height: fit-content;
    background-repeat: repeat;
  }
  .main_description-futuro {
    width: 90%;
    height: fit-content;
  }
  .main_tecnology-icon{
    width: 70%;
  }
  .icon {
    width: 40px;
  }
}