header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(1, 1, 24);
  margin: 0;
  padding: 3px;
}

nav {
  display: flex;
  gap: 20px;
  background-color: rgb(2, 2, 61);
  border-radius: 8px;
}

.p { 
  padding: 10px;
  margin: 5px;
  background-color: rgb(2, 2, 61);
  border-radius: 8px;
  box-shadow: 0 0 .5rem #1372df;
}

.p:hover {
  background-color: rgb(0, 0, 0);
  border-radius: 8px;
  transform: scale(1.1);
  box-shadow: 0 0 .5rem #39e206;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  transform: scale(1.1);
  color: #39e206;
}

.logo {
  color: white;
  padding: 0;
  margin: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

@media (max-width: 530px){
  header {
    flex-direction: column;
    align-items: stretch;
  }
  nav {
    flex-direction: column;
    gap: 0px;
    align-items: none;
  }
  
  .a {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 .5rem #1372df;
  }
  .a:hover {
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    transform: scale(1.1);
    box-shadow: 0 0 .5rem #39e206;
  }

  .p {
    display: flex;
    text-decoration: none;
    box-shadow: none;
    padding: 5px;
  }
  .p:hover {
    text-decoration: none;
  }
}